<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a business development engineer at
      <a class="underline-link" href="https://www.marincowork.com/" target="_blank">Marin CoWork</a>, building a coworking space to foster the entrepreneurial spirit in Marin County with some awesome people. I recently graduated from
      <a class="underline-link" href="https://www.sfsu.edu/" target="_blank">San Francisco State University</a> with a degree in Electrical Engineering.
   </p>

    <p>
      As an engineer and a business development specialist, I enjoy bridging the gap between engineering and finance &mdash; combining my technical knowledge
      with my creative, business intuition. My goal is to help foster change in my community through a hands on approach, whether it be advocating for housing with a think tank I helped found,
      <a class="underline-link" href="https://www.nextgenmarin.com/" target="_blank">NextGen Marin</a>, or developing and managing my co-working space,
      <a class="underline-link" href="https://www.marincowork.com/" target="_blank">Marin CoWork</a>.
    </p>

    <p>
      <strong>When I am not in front of a computer screen</strong>, I'm probably at the mosque, cruising around on my skateboard,
      or crossing off another item on my bucket list.    
    </p>

     <!-- {% include employment-status.html %} -->
  </div>
</section>
