<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a devops engineer at
      <a class="underline-link" href="https://www.apple.com/" target="_blank">Apple</a>, building an IAC framework with some awesome people.</p>
    </p>

    <p>
      As a devops engineer, not only do I enjoy building newthings &mdash; I also love streamlining infastucture and operations. Day to day, I work mostly with AWS, Kubernetes, Terraform, Python, Prometheus and Grafana.
    </p>

    <p>
      <strong>When I am not in front of a computer screen</strong>, I'm probably at the mosque, running, practicing archery,
      or crossing off another item on my bucket list.    
    </p>

     {% include employment-status.html %}
  </div>
</section>
