<header class="intro">
  <h1 class="intro__hello"><strong>Hello!</strong>
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Adil Modan</span>. I have a passion for improving the software development process through the implementation and management of cutting-edge practices and tools.. <!-- an electrical engineer working in finance focused on helping address the problems in my community &amp; fostering an entrepreneurial spirit in Marin County.-->
    <!--<span class="emoji technologist"></span>--> 
    <br>
    <br>
    <span><img src="../img/logo/am1.png"/></span>
  </h2>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:adil.modan@gmail.com" target="_blank" class="highlight-link">adil.modan@gmail.com</a>
    </span>
  </h3>
</header>
